<h1>Our books</h1>
<div style="display:none;">
<%= link_to 'Add new book', new_book_path %><hr>
</div>

<%= form_tag books_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<% @books.each do |book| %>
  <p>
    <h3><%= link_to book.title, book %></h3>
  </p>
  <p>
    <h4><%= book.author %></h4>
  </p>
  <hr>
<% end %>
