<html>
  <head>
    <title>GoodReads</title>
    <link href="https://fonts.googleapis.com/css?family=ABeeZee|Amatic+SC" rel="stylesheet">
  </head>
  <body>
  <div class='heading'>
    <p>Our books</p>
    <a href='javascript:void(0)' id="openbtn" class="openbtn" onclick="openNav()">☰</a>
  </div>
  <div id="mySidenav" class='sidenav'>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">X Close nav</a><hr>
    <%= link_to 'Homepage', root_path %><hr>
    <%= link_to 'Add new book', '#' %><hr>
    <%= link_to 'Sign in' %><hr>
    <%= link_to 'Nav' %><hr>
    <%= link_to 'Nav' %><hr>
    <%= link_to 'Nav' %><hr>
  </div>

  <%= form_tag books_path, :method => 'get' do %>
    <%= submit_tag 'Search', name: nil , :id => 'searchbtn'%>
    <%= text_field_tag :search, params[:search] %>
  <% end %>
  <button id='sort_asc'><%= link_to 'Sort by rate ascenting', books_sort_asc_path %></button>
  <button id='sort_desc'><%= link_to 'Sort by rate descenting', books_sort_desc_path %></button>
  <div class='container_body' id='content'>
    <div class='books_list'>
      <% @books.each do |book| %>
        <div id='book_card'>
          <p>
          <%= link_to book.title, book, :id => 'book_title' %><br>
          <%= book.author %><br>
          Rating:
          <%= book.avg_rate %>
          </p>
        </div>
      <% end %>
      </div>
    </div>
  </body>
</html>
